<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero-header bg-dark" data-overlay="0" style="height: 100vh;">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <div class="elcoss-excort mt-xl-5 mt-lg-4 mt-md-4 wow animated fadeInLeft">
                    <h1 class="mb-4">Arama Robotu <br><span class="text-info">Fahri TAŞKIRAN</span></h1>
                    <p class="fs-5 fs-mob">Aramalarınız bu alandan kolaylıkla gerçekleştirebilirsini.</p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12">
                <div class="search-from-clasic mt-5 mb-3  wow animated fadeInLeft">
                    <div class="hero-search-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 col-md-9 col-sm-12">
                                <div class="classic-search-box">
                                    <div class="form-group full">
                                        <div class="input-with-icon">
                                            <input type="text" class="form-control"
                                                placeholder="Aramak istediğiniz kelime">
                                            <i class="fas fa-search fs-6 opacity-75"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info full-width">Arama Yap</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="position-absolute bottom-0 end-0 z-0 d-lg-block d-none wow animated fadeInRight">
        <img src="/public/img/header.png" alt="SVG" width="700">
    </div>
</div>